<!-- <div class="home-pg">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <button type="button" class="btn btn-primary col-6">Sign-in</button>
    </div>
  </div>
</div> -->



<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<app-app-feeds></app-app-feeds>
<router-outlet></router-outlet>
